nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    overflow: auto;
    font-family: sans-serif;
}

nav .title {
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #AAA;
}

nav ul {
    list-style: none;
    margin-left: 20px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 15px;
}

nav a:hover {
    text-decoration: underline;
}

#frame {
    position: fixed;
    left: 320px;
    right: 0;
    top: 0;
    bottom: 0;
}

#frame iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

summary {
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}