<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ncx.docTitle.text}}</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <nav>
        <p class="title">{{ncx.docTitle.text}}</p>
            <ul class="nav-level1">
            {% for level1 in ncx.navMap.navPoint %}
            {% if existsIn(level1, "navPoint") %}
                <details>
                <summary href="{{decompressedDir}}/OEBPS/{{level1.content.src}}">{{level1.navLabel.text}}</summary>
                <ul class="nav-level2">
                {% for level2 in level1.navPoint %}
                {% if existsIn(level2, "navPoint") %}
                    <details>
                    <summary href="{{decompressedDir}}/OEBPS/{{level2.content.src}}">{{level2.navLabel.text}}</summary>
                    <ul class="nav-level3">
                    {% for level3 in level2.navPoint %}
                    <li><a target="content" href="{{decompressedDir}}/OEBPS/{{level3.content.src}}">{{level3.navLabel.text}}</a></li>
                    {% endfor %}
                    </ul>
                    </details>
                {% else %}
                    <li><a target="content" href="{{decompressedDir}}/OEBPS/{{level2.content.src}}">{{level2.navLabel.text}}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
                </details>
            {% else %}
                <li><a target="content" href="{{decompressedDir}}/OEBPS/{{level1.content.src}}">{{level1.navLabel.text}}</a></li>
            {% endif %}
            {% endfor %}  
            </ul>
    </nav>

    <div id="frame">
        <iframe name="content" seamless></iframe>
    </div>
</body>

</html>